name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
      - name: setup dependencies
        run: |
          pip install cython
          pip install numpy
          pip install pandas
          pip install path
      - uses: akhileshns/heroku-deploy@v3.12.11 # This is the action
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "python-stock-scraper-bot" #Must be unique in Heroku
          heroku_email: ${{secrets.EMAIL}}
